---
base:
  build: .
  volumes:
    - ".:/app" # share current directory -> to /app folder in container
  ports:
    - "80:4000"

web:
  extends:
    file: docker-compose.yml
    service: base
  environment:
    STATIC_BASE: http://192.168.99.100
  command: jekyll serve -H0.0.0.0

web-host:
  extends:
    file: docker-compose.yml
    service: base
  environment:
    STATIC_BASE: http://192.168.1.102:8080
  command: jekyll serve -H0.0.0.0

build:
  extends:
    file: docker-compose.yml
    service: base
  environment:
    STATIC_BASE: http://saidianying.zhendewudi.com
  command: jekyll build

build-staging:
  extends:
    file: docker-compose.yml
    service: base
  environment:
    STATIC_BASE: http://saidianying-test.oss-cn-beijing.aliyuncs.com
  command: jekyll build
