.mission-impossible-rogue-nation {
  .poster1 {
    background-image: url({{ site.static_url }}/images/mission-impossible-rogue-nation/poster.jpg);
  }
  .poster-music {
    background-image: url({{ site.static_url }}/images/mission-impossible-rogue-nation/music.jpg);
  }
  .poster-collection {
    background-image: url({{ site.static_url }}/images/mission-impossible-rogue-nation/poster-collection.jpg);
  }
  .embedded-movie-info {
    height: 200px;
    padding-top: 130px;
    bottom: 0;
    background-color: transparent;
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.9));
    color: #111;

    .name {
      font-size: 1em;
    }
    .year {
      padding-left: 0;
    }
    .red {
      color: #ed1924;
    }
  }
}

.mission-impossible-rogue-nation.movie-info {
  .name {
    font-size: 1em;
  }
  .year {
    padding-left: 0;
  }
}
