.x-men-apocalypse {
  .poster1 {
    background-image: url({{ site.qiniu_host }}/x-men-apocalypse/poster.jpg);
  }
  .poster-collection {
    background-image: url({{ site.qiniu_host }}/x-men-apocalypse/poster-collection.jpg);
  }
  .embedded-movie-info {
    height: 200px;
    top: 0;
    padding-bottom: 130px;
    background-color: transparent;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.9));
    color: #fff;

    .name {
      display: block;
      font-size: 1em;
    }
    .year {
      display: block;
      padding-left: 0;
    }
  }

  .music-cover {
    .img-wraper {
      -webkit-animation: spinning 15000ms infinite linear;
    }
  }
}
