* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}
ul, li {
  list-style-type: none;
}
.wrap {
  background: #555 url({{ site.static_url }}/images/movies/bg.png);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.logo {
  position: absolute;
  left: -1000px;
  top: -1000px;
  img {
    width: 300px;
    max-width: 300px;
  }
}
.slides, .slide {
  color: #f4f4f4;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.section {
  overflow: hidden;
}
.poster {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  z-index: 1;
}
.poster-collection { background-image: url({{ site.static_url }}/images/movies/poster-collection.jpg); }
.poster1 { background-image: url({{ site.static_url }}/images/movies/ant-man1.jpg); }
.poster2 { background-image: url({{ site.static_url }}/images/movies/ant-man2.jpg); }
.poster3 { background-image: url({{ site.static_url }}/images/movies/ant-man3.jpg); }
.poster4 { background-image: url({{ site.static_url }}/images/movies/ant-man4.jpg); }
.poster5 { background-image: url({{ site.static_url }}/images/movies/ant-man5.jpg); }
.poster6 { background-image: url({{ site.static_url }}/images/movies/ant-man6.jpg); }

.poster-blur {
  -webkit-filter: blur(6px);
  filter: blur(6px);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.video {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  video {
    height: 100%;
    width: 100%;
    display: none;
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    .play {
      position:absolute;
      width:50px;
      height:50px;
      border:3px solid #fff;
      top:50%;
      right:50%;
      margin:-28px;
      border-radius:30px;
      box-shadow:1px 1px 2px rgba(0,0,0,.2);
    }
    .play span {
      position:absolute;
      width:0;
      height:0;
      border-top:12px solid transparent;
      border-bottom:12px solid transparent;
      border-left:20px solid #fff;
      top:15px;
      left:18px;
    }
  }
}
.map {
  background-image: url({{ site.static_url }}/images/movies/map.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
}
.row {
  font-size: 0;
  white-space: nowrap;
  overflow: hidden;

  img {
    width: 33.34%;
  }
}
.movie-info {
  box-sizing: border-box;
  position: absolute;
  bottom: -80px;
  left: 0;
  height: 80px;
  width: 100%;
  padding: 10px;
  color: #f4f4f4;
  transition: bottom 0.5s;
  background-color: rgba(50, 50, 50, 0.6);

  .name {
    display: inline-block;
    font-size: 1.5em;
    margin: 0px;
  }
  .year {
    display: inline-block;
    font-size: 0.8em;
    padding-left: 10px;
  }
  .tagline {
    padding-top: 5px;
    font-size: 0.8em;
  }
}
.nav {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -20px;
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 100%;
  transition: top 0.5s;
}
.nav.next {
  right: 20px;
}
.nav.prev {
  left: 20px;
}
.nav:after {
  color: #fff;
  position: absolute;
  top: 0px;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
  line-height: 20px;
}
.nav.next:after {
  content: '>';
}
.nav.prev:after {
  content: '<';
}

.dots {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  text-align: center;
  list-style: none;
  font-size: 0;
  transition: top 0.5s;

  .dot-item {
    list-style: none;
    display: inline-block;
    width: 10px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;

    .dot {
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 6px;
      font-size: 0;
      border: solid 1px rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
      background-color: rgba(0, 0, 0, 0.5);
    }
    &.active .dot {
      background-color: #fff;
    }
  }
}
.dots, .dot-item, .dot {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  background: transparent;
}

.screen-arrowBox {
  position: absolute;
  width: 100px;
  text-align: center;
  bottom: 10px;
  left: 50%;
  margin-left: -50px;

  .screen-arrow {
    -webkit-animation: swipeMove 1.5s 1s ease infinite;
    animation: swipeMove 1.5s 1s ease infinite;
    width: 50px;
    height: 15px;
    margin: 0 auto;
    background: url({{ site.static_url }}/images/arrow.png) no-repeat;
    background-size: contain;
    background-position: center;
  }
  .screen-arrowText {
    color: #42c0fb;
    width: 100px;
    height: 20px;
  }
}
@-webkit-keyframes swipeMove {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0)
  }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0)
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0,-10px,0)
  }
}
@keyframes swipeMove {
  0% {
    opacity: 0;
    transform: translate3d(0,10px,0)
  }
  70% {
    opacity: 1;
    transform: translate3d(0,0,0)
  }
  100% {
    opacity: 0;
    transform: translate3d(0,-10px,0)
  }
}

@media (min-width: 569px) {
  .poster {
    background-size: contain;
  }
}
