.star-trek-beyond {
  .poster1 {
    background-image: url({{ site.qiniu_host }}/star-trek-beyond/poster.jpg);
  }
  .poster-collection {
    background-image: url({{ site.qiniu_host }}/star-trek-beyond/poster-collection.jpg);
  }
  .poster-music {
    background-image: url({{ site.qiniu_host }}/star-trek-beyond/poster4.jpg);
  }

  .embedded-movie-info {
    height: 200px;
    padding-top: 130px;
    bottom: 0;
    background-color: transparent;
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.9));
    color: #fff;

    .name {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      font-size: 1em;

      span {
        display: inline-block;
      }
      .thin {
        font-weight: 200;
      }
    }
    .year {
      display: block;
      padding-left: 0;
    }
  }

  .music-cover {
    .img-wraper {
      -webkit-animation: spinning 15000ms infinite linear;
    }
  }
}
