---
layout: movie
title: Ant-Man 蚁人
tagline: 电影
header: Pages
group: navigation
description: 电影
---

.logo
  %img{src: "#{Configr.site['static_url']}/images/movies/ant-man-logo.jpg"}

.swipe-show
  %ul.slides
    %li.slide.poster.poster1
    %li.slide.poster.trailer1
      .video
        %img{ src: "#{Configr.site['static_url']}/images/movies/ant-man-trailer1.jpg" }
        %video{ src: "#{Configr.site['static_url']}/images/movies/ant-man-trailer1-480.mp4" }
        %a{ href: '#' }
          %span.play
            %span
    %li.slide.poster.poster-collection
  .dots

.movie-info
  %h1.name
    Ant-Man 蚁人
  .year
    2015年7月19日
  .tagline
    英雄不需要很大，墨西哥小哥太搞笑。
.nav.next
.nav.prev
