---
layout: movie
title: "蝙蝠侠大战超人：正义黎明 - 中文第二版预告片"
tagline: 电影
header: Pages
group: navigation
description: 电影
---

.logo
  %img{src: "#{Configr.site['static_url']}/images/batman-v-superman-dawn-of-justice/logo.jpg"}

.batman-v-superman-dawn-of-justice
  .full-page
    .section.poster.poster1
      .embedded-movie-info.batman-v-superman-dawn-of-justice
        %h1.name
          Batman v Superman: Dawn of Justice
        %h1.name
          蝙蝠侠大战超人：正义黎明
        .year
          2016年3月25日
    .section
      .video
        %img{ src: "#{Configr.site['static_url']}/images/batman-v-superman-dawn-of-justice/trailer.jpg" }
        %video{ src: "#{Configr.site['static_url']}/images/batman-v-superman-dawn-of-justice/trailer-480p-zh.mp4" }
        %a{ href: '#' }
          %span.play
            %span
      .poster.poster1.poster-blur
    .section.poster.poster-collection

.screen-arrowBox
  .screen-arrow
