---
layout: movie
title: "美国队长3：内战 （中文预告片）"
tagline: 电影
header: Pages
group: navigation
description: 电影
---

.logo
  %img{src: "#{Configr.site['static_url']}/images/captain-america-civil-war/logo.jpg"}

.captain-america-civil-war
  .full-page
    .section.poster.poster1
      .embedded-movie-info.captain-america-civil-war
        %h1.name
          Captain America: Civil War
        %h1.name
          美国队长3：内战
        .year
          2016年5月6日
    .section
      .video
        %img{ src: "#{Configr.site['static_url']}/images/captain-america-civil-war/trailer.jpg" }
        %video{ src: "#{Configr.site['static_url']}/images/captain-america-civil-war/trailer-480p-zh.mp4" }
        %a{ href: '#' }
          %span.play
            %span
      .poster.poster1.poster-blur
    .section.poster.poster-collection

.screen-arrowBox
  .screen-arrow
