---
layout: movie
title: "《美国队长3：内战》第二版预告片（中文）"
tagline: 电影
header: Pages
group: navigation
description: 电影
---

.logo
  %img{src: "#{Configr.site['static_url']}/images/captain-america-civil-war/logo.jpg"}

.captain-america-civil-war-2
  .full-page
    .section.poster.poster1
      .embedded-movie-info.captain-america-civil-war
        %h1.name
          Captain America: Civil War
        %h1.name
          美国队长3：内战
        .year
          2016年5月6日
    .section
      .video
        %img{ src: "#{Configr.site['qiniu_host']}/captain-america-civil-war/trailer-2.jpg" }
        %video{ src: "#{Configr.site['qiniu_host']}/captain-america-civil-war/trailer-2-480p-zh-t.mp4" }
        %a{ href: '#' }
          %span.play
            %span
      .poster.poster1.poster-blur
    .section.poster.poster-collection
    .section.links
      .link.captain-america-civil-war
        %a{href: '/movies/captain-america-civil-war.html'}
          %span
            点击查看 《美国队长3：内战》第一版预告片（中文）
      .link.batman-v-superman-dawn-of-justice
        %a{href: '/movies/batman-v-superman-dawn-of-justice.html'}
          %span
            点击查看 《蝙蝠侠大战超人：正义黎明》第二版预告片（中文）

.screen-arrowBox
  .screen-arrow
