---
layout: movie
title: "碟中谍：神秘国度 Mission: Impossible - Rogue Nation"
tagline: 电影
header: Pages
group: navigation
description: 电影
---

.logo
  %img{src: "#{Configr.site['static_url']}/images/mission-impossible-rogue-nation/logo.jpg"}

.mission-impossible-rogue-nation
  .full-page
    .section.poster.poster1
      -# .movie-info.mission-impossible-rogue-nation
      -#   %h1.name
      -#     碟中谍：神秘国度
      -#   %h1.name
      -#     Mission: Impossible - Rogue Nation
      -#   .year
      -#     2015年8月2日
    .section
      .video
        %img{ src: "#{Configr.site['static_url']}/images/mission-impossible-rogue-nation/trailer.png" }
        %video{ src: "#{Configr.site['static_url']}/images/mission-impossible-rogue-nation/trailer-480p-zh.mp4" }
        %a{ href: '#' }
          %span.play
            %span
      .poster.poster1.poster-blur
    .section.poster.poster-collection

.screen-arrowBox
  .screen-arrow
  -# .screen-arrowText
  -#   向上滑动
