<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.author.name }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="超级无敌">

  <style>
    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    }
    .wrap {
      padding: 10px;
    }
    img {
      width: 100%;
    }
  </style>

  <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
</head>
<body>
  <div class="wrap">
    {{ content }}
  </div>
</body>
</html>
