<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ page.title }} - 晒电影</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="超级无敌">

  {% css_asset_tag movie %}
  - /assets/css/movies/movie.scss
  - /assets/css/movies/movie-overrides.scss
  - /assets/css/movies/movie-overrides-007-spectre.scss
  - /assets/css/movies/movie-overrides-captain-america-civil-war.scss
  - /assets/css/movies/movie-overrides-captain-america-civil-war-2.scss
  - /assets/css/movies/movie-overrides-batman-v-superman-dawn-of-justice.scss
  - /assets/css/movies/movie-overrides-final-cut-2015.scss
  - /assets/css/movies/movie-overrides-x-men-apocalypse.scss
  - /assets/css/movies/movie-overrides-jason-bourne.scss
  - /assets/css/movies/links.scss
  - /assets/css/movies/jquery.fullPage.css
  - /assets/css/movies/jquery.swipeshow.css
  {% endcss_asset_tag %}

  <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
</head>
<body>
  <div class="wrap">
    {{ content }}
  </div>

  <div id="loader-wrapper">
    <div id="loader">
    </div>
    <div id="loader-text">
      加载中
    </div>
  </div>

  {% javascript_asset_tag movie %}
  - /assets/javascripts/jquery.js
  - /assets/javascripts/movies/jquery.mobile-events.js
  - /assets/javascripts/movies/jquery.swipeshow.js
  - /assets/javascripts/movies/jquery.fullPage.js
  - /assets/javascripts/movies/movie.js
  {% endjavascript_asset_tag %}
</body>
</html>
